.galleryPictures {
    .content {
        max-width: 700px;

        .inputField {
            margin: 25px 20px;
        }

        &>.saveErrorContainer {
            display: flex;
            justify-content: flex-end;
            
            &>.error {
                color: rgb(255, 0, 0);
                height: 15px;
                margin-top: 8px;
                font-size: 14px;
            }
        }

        .addButtonContainer {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding: 30px 20px;
            background: #f6f6f6;
        }

        .buttonContainer {
            display: flex;
            justify-content: flex-end;
            margin: 30px 20px 10px;
        }

        .loader {
            margin-top: 100px;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &>.loadingIcon {
                height: 80px;
                width: 80px;
                stroke-width: 2px;
            }
        }

        .sizeButtonContainer {
            display: flex;
            flex-wrap: wrap;
    
            &>.sizeToggleButton {
                margin: 7px;
                cursor: pointer;
                font-size: 13px;
                padding: 10px 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
                transition: background 0.1s ease-out;
                user-select: none;
        
                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
                }
        
                &>.price {
                    margin-left: 10px;
                    font-weight: 600;
                }
    
                &.selected {
                    background: #252525;
                    color: #FFFFFF;
                }
            }
        }
    }
}
