.expandable {
    overflow: hidden;
    transition: height 0.3s ease-out;
    transition: width 0.3s ease-out;

    &.vertical {
        height: 0;
        width: 100%;
    }

    &.horizontal {
        height: 100%;
        width: 0;
    }
}
